<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8"/>
	<title>优课急送</title>
</head>
<body>
<h1 th:text="${footer}"></h1>

<form th:action="@{/p_save_update}" method="post">
	<input type="hidden" th:value="${product.id}" name="id" th:if="${updateFlag}"/>
	<input type="input" name="name" th:value="${product.name}"/>
	<input type="submit" value="保存" th:unless="${updateFlag}"/>
	<input type="submit" value="更新" th:if="${updateFlag}"/>
</form>

</body>
</html>