<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
		xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head lang="en">
	<meta charset="UTF-8"/>
	<title></title>
</head>
<body>
<h1>thymeleaf</h1>
<h1>优课急送</h1>
<h1 th:text="${footer}"></h1>

<h1 shiro:user="">User</h1>
<h1 shiro:guest="">Guest</h1>
<shiro:hasRole name="administrator">
	<a href="admin.html">Administer the system</a>
</shiro:hasRole>

<shiro:hasRoles name="ROLE_USER">
	ROLE_USER<br/>
</shiro:hasRoles>
<shiro:hasRoles name="ROLE_ADMIN">
	ROLE_ADMIN<br/>
</shiro:hasRoles>
<shiro:hasPermission name="hellolabs:helltest">
	hellolabs:helltest<br/>
</shiro:hasPermission>
<shiro:hasPermission name="helsslolabs:helltest">
	helsslolabs:helltest<br/>
</shiro:hasPermission>

<form th:action="@{/demo}" method="post">
	<input type="hidden" name="_method" value="delete"/>
	<input type="text" name="name"/>
	<input type="submit"/>
</form>

</body>
</html>